.formContent {
    color: black;
    width: 100vw;
    height: 92vh;
    margin-top: 8vh;
    display: grid;
    grid-template-rows: 15vh 25vh 50vh;
    align-items: center;
    justify-items: center;
    background: #e9e9e9;
}

.buttons {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}