<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="shortcut icon" href="favicon.ico">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="launch.js"></script>
    <style>
        .hide {
            display: none;
        }

        label {
            display: none;
        }

        table {
            display: none;
        }
    </style>
</head>
<body>

<label>Откуда<input id="input1" type="text" value="Москва" required></label>
<label>Куда<input id="input2" type="text" value="Самара" required></label>
<label>Дата<input id="input3" type="date" value="2019-08-18" required></label>

<label>Добавить юзера<input type="email" id="input4" required value="just mail"></label>
<button id="add_user">Добавить</button>

<div class="chart-container" style="position: relative; height:10vh; width:35vw">
    <canvas id="myChart" width="100" height="100"></canvas>
</div>
<script>


    function add(froms, to, date, user, callback) {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/add", true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=utf8');

        const data = {froms, to, date, user};

        const body = JSON.stringify(data);
        xhr.onreadystatechange = function () {
            if (xhr.readyState !== 4) return;
            if (+xhr.status !== 200) {
                return callback(xhr, null);
            }

            const response = JSON.parse(xhr.responseText);
            callback(null, response);
        };

        xhr.send(body);
    }


    const addUser = document.getElementById("add_user");
    addUser.addEventListener("click", function (e) {
        e.preventDefault();
        add(input1.value, input2.value, input3.value, input4.value, function (err, resp) {
            console.log(err, resp)
        })
    });


</script>
</body>
<html>