.buttonList{
    border: none;
    outline: none;
    width: 170px;
    height: 45px;
    border-bottom: 4px solid red;
    font-size: 18px;
    background: inherit;
}

.buttonList:first-child {
    margin-right: 20px;
}

.buttonList:hover {
    background: white;
    color: black;
    cursor: pointer;
}