.menu {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    background: red;
    grid-template-columns: 25% 25% 25% 25%;
    color: white;
    height: 8vh;
    margin-top: 0px;
    margin-left: -40px;
}

.menu div {
    height: 100%;
    line-height: 8vh;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: white;
}

.active {
    background: #e8a39d;
}