.buttonForm {
    background: rgb(255, 30, 0);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    width: 120px;
    margin-left: 165px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all .3s cubic-bezier(.6, 0, .4, 1);
}

.buttonForm:hover {
    color: black;
}