.getStyle {
    width: 450px;
}

input[type=text],
input[type=email],
input[type=date],
select{
    background: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    height: 52px;
    width: 99.5%;
    margin-bottom: 10px;
    opacity: 1;
    text-indent: 20px;
    border: 1px solid gray;
    transition: all .2s ease-in-out;
}

