.main {
      margin-top: 8vh;
      height: 92vh;
      width: 98vw;
      margin-left: 5vh;
}

.content {
      display: grid;
      width: 90vw;
      height: 10vh;
      justify-items: center;
      grid-template-columns: repeat(10, 1fr);
      align-items: center;
}

.error {
      height: 100vh;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

.error div {
      background: url("../../ing/paravoz.jpg");
      background-size: cover;
      width: 550px;
      height: 330px;
}
