.row {
    border: 2px solid darkgray;
    border-radius: 4px;
    display: grid;
    height: 10vh;
    width: 90vw;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(10, 1fr);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
