.textBlack {
    font-size: 25px;
    float: right;
    margin-top: 80px;
    color: black;
    width: 40%;
}
.textWhite {
    font-size: 40px;
    float: right;
    margin-top: 80px;
    color: white;
    width: 40%;
}